body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

header h1 {
  margin: 0;
}

#form-section,
#pdf-section {
  padding: 50px 0;
}

form label,
form input,
form textarea,
form select,
form button {
  display: block;
  margin-bottom: 15px;
}

#resume-output {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.container-img{
  width: 100%;
  display: flex;
}

.container-img-img{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  width: 100%;
  max-width: 30rem;
}